.imageViewer {
  align-items: center;
  display: flex;
  font-family: sans-serif;
  font-size: 14px;
  justify-content: center;
  height: 95vh;
  overflow: hidden;
  // position: absolute;
  width: 100vw;
  z-index: 0;

  img {
    object-fit: contain;
    height: 95%;
    width: 95%;
  }
}

.viewerControls {
  bottom: 10px;
  display: flex;
  justify-content: center;
  // position: absolute;
  width: 100%;
  z-index: 1;

  .randomizeButton {
    background: black;
    transition: 0.3s all;
  }
}
